#basic-url{
margin: 0 auto;
width: 270px;
}

.texte{
    margin-left: 24px;
    font-size: 27px;
    color: #83afff;
}

.titre{
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 18px;
    margin-bottom: 50px;
}